<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 text-md-left text-sm-center">
        <h1 class="logo large m-t-md">Woo <span>Blue</span></h1>
        <p class="tagline">Thinking about stuff</p>
      </div>

      <div class="col-md-4 col-sm-12 text-md-right text-xs-center m-b-md">
        <!--<img style="max-width: 360px;" src="http://res.cloudinary.com/dnasuieut/image/upload/c_scale,w_600/v1442015720/videos_qu4cq3.png" alt="Meteor screencasts" />-->
      </div>
    </div>
  </div>
</div>
